.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgb(237, 231, 226);
}

.nav__side {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 25px;
}
.logo:hover,
.nav__home:hover,
.nav__about:hover,
.nav__contact:hover {
    cursor: pointer;
    color: rgba(238, 142, 86, 0.736);
}

.logo {
    width: 75px;
}